<h1>New flower</h1>

<% form_for(@flower) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </p>
  <p>
  <ul>
  <% User.find(:all, :conditions => ['id <> ?', session[:id]]).each do |user| %>
    <li>
      <input id="flower_user_ids_<%= user.id %>"  type="checkbox" name="flower[user_ids][]" value="<%= user.id %>" />
      <label for="flower_user_ids_<%= user.id %>"><%= user.name %></label>
    </li> 
  <% end %>
  </ul>
  </p>
  <p>
    <%= f.submit 'Enviar' %>
  </p>
<% end %>

<%= link_to 'Back', flowers_path %>
