<h1>Sorry, not implemented yet</h1>
<p>Pero esto es lo que me mandas:</p>
<div id="text_field"><%= params[:text_field] %></div>
<div id="textarea"><%= params[:textarea] %></div>
<div id="nacionalidad"><%= params[:nacionalidad] %></div>
<div id="color"><%= params[:color] %></div>
<div id="check_seleccionado"><%= params[:check_seleccionado] %></div>
<div id="check_sin_seleccionar"><%= params[:check_sin_seleccionar] %></div>
<div id="file_filename"><%= params[:file_field].original_filename rescue nil %></div>
<%= link_to 'Volver', :action => 'index' %>
