<h1>Sorry, not implemented yet</h1>
<p>Pero esto es lo que me mandas:</p>
<div id="text_field"><%= params[:text_field] %></div>
<div id="textarea"><%= params[:textarea] %></div>
<div id="nationality"><%= params[:nationality] %></div>
<div id="color"><%= params[:color] %></div>
<div id="selected_check"><%= params[:selected_check] %></div>
<div id="unselected_check"><%= params[:unselected_check] %></div>
<div id="file_filename"><%= params[:file_field].original_filename rescue nil %></div>
<div id="orchard_type"><%= params[:orchard_type] %></div>
<% { :preferred  => 'preferida',
     :alternative => 'alternativa' }.each do |field, name| %>
<div id="fecha-<%= name %>"><%= params[:welcome]["#{field}(3i)"] + '/' +
                        params[:welcome]["#{field}(2i)"] + '/' +
                        params[:welcome]["#{field}(1i)"] %></div>
<div id="hora-<%= name %>"><%= params[:welcome]["#{field}(4i)"] + ':' +
                        params[:welcome]["#{field}(5i)"] %></div>
<% end %>
<% { :grape_harvest  => 'vendimia',
     :pruning => 'poda' }.each do |field, name| %>
<div id="fecha-de-<%= name %>"><%= params[:welcome]["#{field}(3i)"] + '/' +
                        params[:welcome]["#{field}(2i)"] + '/' +
                        params[:welcome]["#{field}(1i)"] %></div>
<% end %>

<%= link_to 'Volver', :action => 'index' %>
