<h1>Portada de Mundo Pepino</h1>
<div id="slogan">Todo un huerto para ti</div>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Registro', :action => 'signup' %>
<% form_tag( :action => :form_action ) do %>
  <div><%= text_field_tag :text_field %></div>
  <div><%= text_area_tag :textarea %></div>
  <div>
    <%= radio_button_tag :nacionalidad, "Española" %>
    <%= radio_button_tag :nacionalidad, "Pakistaní" %>
  </div>
  <div>
    <%= radio_button_tag :color, "verde" %>
    <%= radio_button_tag :color, "rojo" %>
    <%= radio_button_tag :color, "gris" %>
  </div>
  <div>
    <%= check_box_tag :check_seleccionado, "Seleccionado", true %>
      <%= label_tag :check_seleccionado, "Seleccionado" %>
    <%= check_box_tag :check_sin_seleccionar, "Sin seleccionar", false %>
      <%= label_tag :check_sin_seleccionar, "Sin seleccionar" %>
  </div>
  <div><%= file_field_tag :file_field %></div>
  <div><%= submit_tag( "Galleta de la Fortuna" ) %></div>
<% end %>
                   
