<h1>Portada de Mundo Pepino</h1>
<div id="slogan">Todo un huerto para ti</div>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Registro', :action => 'signup' %>
<% form_tag({:action => :form_action}, :enctype => "multipart/form-data") do %>
  <div>
    <%= label_tag :login, "Nombre de usuario" %>
    <%= text_field_tag :login %>
  </div>
  <div>
    <%= label_tag :password, "Contraseña" %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= label_tag :text_field, "Campo de texto" %>
    <%= text_field_tag :text_field %>
  </div>
  <div>
    <%= label_tag :textarea, "Biografía" %>
    <%= text_area_tag :textarea %>
  </div>
  <div>
    <%= radio_button_tag :nationality, "Española" %>
    <%= radio_button_tag :nationality, "Pakistaní" %>
  </div>
  <div>
    <%= label_tag :color, "Color" %>
    <%= radio_button_tag :color, "verde" %>
    <%= radio_button_tag :color, "rojo" %>
    <%= radio_button_tag :color, "gris" %>
  </div>
  <div>
    <%= check_box_tag :selected_check, "Seleccionado", true %>
      <%= label_tag :selected_check, "Seleccionado" %>
    <%= check_box_tag :unselected_check, "Sin seleccionar", false %>
      <%= label_tag :unselected_check, "Sin seleccionar" %>
  </div>
  <div>
     <%= label_tag :orchard_type, "Tipo de cultivo" %>
     <%= select_tag "orchard_type", options_for_select(['Mixto', 'Hortalizas', 'Frutales']) %>
  </div>
  <div>
    <%= label_tag :file_field, "Avatar" %>
    <%= file_field_tag :file_field %>
  </div>
  <div>
    <%= label :welcome, :preferred, 'Preferida' %><br />
    <%= datetime_select :welcome, :preferred, :start_year => 1992 %></div>

  <div>
    <%= label :welcome, :alternative, 'Alternativa' %><br />
    <%= datetime_select :welcome, :alternative, :start_year => 1992 %></div>
 
  <div>
    <%= label :welcome, :grape_harvest, 'Vendimia' %><br />
    <%= date_select :welcome, :grape_harvest, :start_year => 1992 %>
  </div>
  <div>
    <%= label :welcome, :pruning, 'Poda' %><br />
    <%= date_select :welcome, :pruning , :start_year => 1992 %>
  </div>
  <div><%= submit_tag( "Galleta de la Fortuna" ) %></div>
<% end %>
<%= link_to 'Paginación', :page => ( params[:page] ? (params[:page].to_i % 2) + 1 : 2 ) %>
