<h1>Página de huerto</h1>
<h2><%= @orchard.name %></h2>
<p>
  <b>Área:</b>
  <%=h @orchard.area %>
</p>

<p>
  <b>Longitud:</b>
  <%=h @orchard.longitude %>
</p>

<p>
  <b>Latitud:</b>
  <%=h @orchard.latitude %>
</p>


<p>
  <b>Riego:</b>
  De <span id="riego-comienzo"><%= @orchard.watering_time :start %></span>
  a <span id="riego-fin"><%= @orchard.watering_time :stop %></span>
</p>


<%= link_to 'Editar', edit_orchard_path(@orchard) %> |
<%= link_to 'Página de Huertos', orchards_path %>

